@font-face {
  font-family: "Exo2Thin";
  font-weight: 300;
  font-style: normal;

  src: url("../../fonts/Exo2Thin.woff2") format("woff2"),
    url("../../fonts/Exo2Thin.woff") format("woff");
}

$font: "Exo2Thin", "Arial", sans-serif;

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.base {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.base-container {
  margin: 0 auto;
  max-width: 1150px;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: baseline;
  align-content: stretch;
  height: 100%;
  font-family: $font;
  font-size: 32px;
}
